.card{
    display: flex;
    margin: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: justify;
    justify-content: baseline;
    background-color: antiquewhite;
}

.img{
    height: 200px;
}

.img:hover{
    scale: 1.05;
}